Repository nhatthanhlatao/shunkakinoki, changes with the owners that .github/CODEOWNERS names for each.
All owners: @shunkakinoki, @dependabot[bot], @dependabot-preview[bot], @github-actions[bot]

.github/CODEOWNERS:

* @shunkakinoki

/.github/workflows/ @shunkakinoki @dependabot[bot] @dependabot-preview[bot]
Gemfile @shunkakinoki @dependabot[bot] @dependabot-preview[bot]
Gemfile.lock @shunkakinoki @dependabot[bot] @dependabot-preview[bot]

/src/ @shunkakinoki @github-actions[bot]

added cacher
  .github/workflows/markdown.yml
Owners: @shunkakinoki, @dependabot[bot], @dependabot-preview[bot]

changed habitbook to streaks
  wiki/streaks/bad/before-sleep.md
  wiki/streaks/being/endeavor.md
  wiki/streaks/being/wake-up.md
  wiki/streaks/being/work-out.md
  wiki/streaks/potential/ai.md
  wiki/streaks/potential/coding.md
  wiki/streaks/potential/life-mission.md
  wiki/streaks/work/abstraction.md
  wiki/streaks/work/book.md
  wiki/streaks/work/chinese.md
  wiki/streaks/workflow/day.md
Owners: @shunkakinoki

changed ruby version
  .github/workflows/markdown.yml
Owners: @shunkakinoki, @dependabot[bot], @dependabot-preview[bot]

added correct vendor bundle path :smiling_face_with_3_hearts:
  .github/workflows/markdown.yml
Owners: @shunkakinoki, @dependabot[bot], @dependabot-preview[bot]

no cache tmp
  .github/workflows/markdown.yml
Owners: @shunkakinoki, @dependabot[bot], @dependabot-preview[bot]

Create .gitbook.yaml
  .gitbook.yaml
Owners: @shunkakinoki

delete github wiki related :anger_symbol:
  wiki/_Footer.md
  wiki/_Sidebar.md
Owners: @shunkakinoki

refactor 11 25
  .github/workflows/issue.yml
  .github/workflows/markdown.yml
  .mergify/config.yml
  src/day/2019/11/25.md
  src/week/2019/48.md
Owners: @shunkakinoki, @dependabot[bot], @dependabot-preview[bot], @github-actions[bot]

refactor gha markdown cache action
  .github/workflows/markdown.yml
Owners: @shunkakinoki, @dependabot[bot], @dependabot-preview[bot]

refactor mergify config
  .github/workflows/markdown.yml
  .mergify/config.yml
Owners: @shunkakinoki, @dependabot[bot], @dependabot-preview[bot]

update markdown gha
  .github/workflows/markdown.yml
Owners: @shunkakinoki, @dependabot[bot], @dependabot-preview[bot]

remove tmp cache
  .github/workflows/markdown.yml
Owners: @shunkakinoki, @dependabot[bot], @dependabot-preview[bot]

added correct pullrequest path
  .github/workflows/markdown.yml
Owners: @shunkakinoki, @dependabot[bot], @dependabot-preview[bot]

refactor markdown gha
  .github/workflows/markdown.yml
Owners: @shunkakinoki, @dependabot[bot], @dependabot-preview[bot]

:rocket: update label
  wiki/philosophy/labels.md
Owners: @shunkakinoki

:fire: update
  src/day/2019/11/25.md
  wiki/outline/201911.md
Owners: @shunkakinoki, @github-actions[bot]

:lock: update github action
  Gemfile
  Gemfile.lock
Owners: @shunkakinoki, @dependabot[bot], @dependabot-preview[bot]

fin 11-2
  src/day/2019/11/25.md
  wiki/outline/2019.md
  wiki/outline/201911.md
  wiki/streaks/workflow/day.md
Owners: @shunkakinoki, @github-actions[bot]

init 11 26
  src/day/2019/11/26.md
Owners: @shunkakinoki, @github-actions[bot]

init 000
  .vscode/settings.json
  src/day/2019/11/25.md
  src/day/2019/11/26.md
  src/day/2020/00/01.md
  src/month/2019/11.md
  src/month/2020/00.md
  src/quarter/2020/00.md
  src/week/2020/-3.md
  src/year/0000.md
Owners: @shunkakinoki, @github-actions[bot]

reformat gha push
  .github/workflows/markdown.yml
Owners: @shunkakinoki, @dependabot[bot], @dependabot-preview[bot]

init 00 0
  src/day/2020/00/00.md
  src/week/2020/-3.md
Owners: @shunkakinoki, @github-actions[bot]

init 00 0 1
  src/day/2020/00/00.md
Owners: @shunkakinoki, @github-actions[bot]

init 12 01 2019
  src/day/2020/00/01.md
  src/month/2020/00.md
  src/week/2020/-3.md
Owners: @shunkakinoki, @github-actions[bot]

fin wiki streaks
  .vscode/settings.json
  wiki/streaks/bad/mindset.md
  wiki/streaks/bad/pomodoro.md
  wiki/streaks/being/endeavor.md
  wiki/streaks/being/wake-up.md
  wiki/streaks/being/work-out.md
  wiki/streaks/potential/ai.md
  wiki/streaks/potential/coding.md
  wiki/streaks/potential/life-mission.md
  wiki/streaks/potential/life.md
  wiki/streaks/work/abstraction.md
  wiki/streaks/work/book.md
  wiki/streaks/work/chinese.md
  wiki/streaks/workflow/day.md
Owners: @shunkakinoki

fin work out
  wiki/streaks/being/work-out.md
Owners: @shunkakinoki

init 1202
  .vscode/settings.json
  src/day/2020/00/02.md
  wiki/outline/202000.md
Owners: @shunkakinoki, @github-actions[bot]

init 12 03
  src/day/2020/00/03.md
  wiki/streaks/potential/coding.md
Owners: @shunkakinoki, @github-actions[bot]

init book
  .vscode/settings.json
  wiki/book/2020/00/03.md
Owners: @shunkakinoki

Update markdown.yml
  .github/workflows/markdown.yml
Owners: @shunkakinoki, @dependabot[bot], @dependabot-preview[bot]

Update markdown.yml
  .github/workflows/markdown.yml
Owners: @shunkakinoki, @dependabot[bot], @dependabot-preview[bot]

Update wiki.yml
  .github/workflows/wiki.yml
Owners: @shunkakinoki, @dependabot[bot], @dependabot-preview[bot]

update readme png
  .vscode/settings.json
  README.md
Owners: @shunkakinoki

updated style rb
  style.rb
Owners: @shunkakinoki

init 12 04
  src/day/2020/00/04.md
  wiki/Home.md
Owners: @shunkakinoki, @github-actions[bot]

remove wiki gha
  .github/workflows/wiki.yml
Owners: @shunkakinoki, @dependabot[bot], @dependabot-preview[bot]

init 12 05
  .vscode/md.code-snippets
  wiki/book/2020/00/03.md
  wiki/book/2020/00/05.md
Owners: @shunkakinoki

init 12 05
  src/day/2020/00/05.md
Owners: @shunkakinoki, @github-actions[bot]

added wakeup and workout to work
  wiki/streaks/work/wake-up.md
  wiki/streaks/work/work-out.md
Owners: @shunkakinoki

init 12 06
  src/day/2020/00/06.md
Owners: @shunkakinoki, @github-actions[bot]
