Repository nhatthanhlatao/shunkakinoki, changes with the owners that .github/CODEOWNERS names for each.
All owners: @shunkakinoki, @dependabot[bot], @dependabot-preview[bot], @github-actions[bot]

.github/CODEOWNERS:

* @shunkakinoki

/.github/workflows/ @shunkakinoki @dependabot[bot] @dependabot-preview[bot]
Gemfile @shunkakinoki @dependabot[bot] @dependabot-preview[bot]
Gemfile.lock @shunkakinoki @dependabot[bot] @dependabot-preview[bot]

/src/ @shunkakinoki @github-actions[bot]

init 12 08
  src/day/2020/00/07.md
  src/day/2020/00/08.md
  wiki/streaks/bad/relax.md
  wiki/streaks/being/endeavor.md
  wiki/streaks/potential/ai.md
  wiki/streaks/potential/chinese.md
  wiki/streaks/potential/coding.md
  wiki/streaks/potential/life.md
  wiki/streaks/work/abstraction.md
  wiki/streaks/work/book.md
  wiki/streaks/work/wake-up.md
  wiki/streaks/work/work-out.md
  wiki/streaks/workflow/day.md
Owners: @shunkakinoki, @github-actions[bot]

fin 12 08
  src/day/2020/00/08.md
Owners: @shunkakinoki, @github-actions[bot]

initiate 12 09
  src/day/2020/00/09.md
  src/week/2020/-2.md
Owners: @shunkakinoki, @github-actions[bot]

init 12 09
  src/day/2020/00/09.md
Owners: @shunkakinoki, @github-actions[bot]

added blog
  blog/life-mission.md
Owners: @shunkakinoki

init 12 10
  src/day/2020/00/10.md
Owners: @shunkakinoki, @github-actions[bot]

init 12 11
  src/day/2020/00/10.md
  src/day/2020/00/11.md
  wiki/streaks/being/before-sleep.md
  wiki/streaks/being/endeavor.md
  wiki/streaks/being/relax.md
  wiki/streaks/past/mindset.md
  wiki/streaks/potential/ai.md
  wiki/streaks/potential/chinese.md
  wiki/streaks/potential/coding.md
  wiki/streaks/potential/life.md
  wiki/streaks/work/abstraction.md
  wiki/streaks/work/book.md
  wiki/streaks/work/wake-up.md
  wiki/streaks/work/work-out.md
Owners: @shunkakinoki, @github-actions[bot]

init psycho md
  psycho/init.md
Owners: @shunkakinoki

added iframe shunblog
  src/day/2020/00/12.md
  src/day/2020/00/13.md
  src/day/2020/00/16.md
Owners: @shunkakinoki, @github-actions[bot]

init 12 16
  .vscode/settings.json
  src/day/2020/00/11.md
  src/day/2020/00/13.md
  src/day/2020/00/14.md
  src/day/2020/00/15.md
  src/day/2020/00/16.md
  src/week/2020/-1.md
Owners: @shunkakinoki, @github-actions[bot]

renamed shunblog to blog
  .vscode/settings.json
  src/day/2020/00/01.md
  src/day/2020/00/02.md
  src/day/2020/00/03.md
  src/day/2020/00/04.md
  src/day/2020/00/05.md
  src/day/2020/00/06.md
  src/day/2020/00/07.md
  src/day/2020/00/08.md
  src/day/2020/00/09.md
  src/day/2020/00/10.md
  src/day/2020/00/11.md
  src/day/2020/00/12.md
  src/day/2020/00/13.md
  src/day/2020/00/14.md
  src/day/2020/00/15.md
  src/day/2020/00/16.md
  src/month/2020/00.md
  src/week/2020/-3.md
  wiki/streaks/workflow/day.md
Owners: @shunkakinoki, @github-actions[bot]

init 12 20
  .vscode/settings.json
  src/day/2020/00/17.md
  src/day/2020/00/18.md
  src/day/2020/00/19.md
  src/day/2020/00/20.md
  src/week/2020/-1.md
Owners: @shunkakinoki, @github-actions[bot]

add miyake
  .vscode/settings.json
  src/day/2020/00/20.md
Owners: @shunkakinoki, @github-actions[bot]

change blog to journal
  src/day/2020/00/01.md
  src/day/2020/00/02.md
  src/day/2020/00/03.md
  src/day/2020/00/04.md
  src/day/2020/00/05.md
  src/day/2020/00/06.md
  src/day/2020/00/07.md
  src/day/2020/00/08.md
  src/day/2020/00/09.md
  src/day/2020/00/10.md
  src/day/2020/00/11.md
  src/day/2020/00/12.md
  src/day/2020/00/13.md
  src/day/2020/00/14.md
  src/day/2020/00/15.md
  src/day/2020/00/16.md
  src/day/2020/00/17.md
  src/day/2020/00/18.md
  src/day/2020/00/19.md
  src/day/2020/00/20.md
  src/month/2020/00.md
  src/week/2020/-3.md
  wiki/streaks/workflow/day.md
Owners: @shunkakinoki, @github-actions[bot]

Add files via upload
  assets/logo.png
Owners: @shunkakinoki

init 02 03
  .vscode/settings.json
  src/day/2020/00/01.md
  src/day/2020/00/02.md
  src/day/2020/00/03.md
  src/day/2020/00/04.md
  src/day/2020/00/05.md
  src/day/2020/00/06.md
  src/day/2020/00/07.md
  src/day/2020/00/08.md
  src/day/2020/00/09.md
  src/day/2020/00/10.md
  src/day/2020/00/11.md
  src/day/2020/00/12.md
  src/day/2020/00/13.md
  src/day/2020/00/14.md
  src/day/2020/00/15.md
  src/day/2020/00/16.md
  src/day/2020/00/17.md
  src/day/2020/00/18.md
  src/day/2020/00/19.md
  src/day/2020/00/20.md
  src/day/2020/02/03.md
  src/month/2020/02.md
  src/quarter/2020/01.md
  src/week/2020/-1.md
  src/week/2020/-2.md
  src/week/2020/-3.md
  src/week/2020/06.md
  src/year/2020.md
Owners: @shunkakinoki, @github-actions[bot]

update gemfile lock
  Gemfile.lock
Owners: @shunkakinoki, @dependabot[bot], @dependabot-preview[bot]

Update auto-approve.yml
  .github/workflows/auto-approve.yml
Owners: @shunkakinoki, @dependabot[bot], @dependabot-preview[bot]

[ImgBot] Optimize images
  assets/logo.png
  assets/shunkakinoki.png
Owners: @shunkakinoki

Update auto-approve.yml
  .github/workflows/auto-approve.yml
Owners: @shunkakinoki, @dependabot[bot], @dependabot-preview[bot]

add iframe sheet
  src/day/2020/02/03.md
Owners: @shunkakinoki, @github-actions[bot]

add 0206
  .vscode/settings.json
  src/day/2020/02/06.md
  src/week/2020/06.md
Owners: @shunkakinoki, @github-actions[bot]

fin 02 06
  src/day/2020/02/06.md
Owners: @shunkakinoki, @github-actions[bot]

init 02 07
  src/day/2020/02/07.md
Owners: @shunkakinoki, @github-actions[bot]

init 02 07 -v2
  src/day/2020/02/07.md
Owners: @shunkakinoki, @github-actions[bot]

add correct chart
  src/day/2020/02/06.md
  src/day/2020/02/07.md
Owners: @shunkakinoki, @github-actions[bot]

init 02 07
  src/day/2020/02/07.md
Owners: @shunkakinoki, @github-actions[bot]

init chart 0206
  src/day/2020/02/06.md
Owners: @shunkakinoki, @github-actions[bot]

add 02 08
  src/day/2020/02/06.md
Owners: @shunkakinoki, @github-actions[bot]

Update 06.md
  src/day/2020/02/06.md
Owners: @shunkakinoki, @github-actions[bot]

add eclint
  src/README.md
Owners: @shunkakinoki, @github-actions[bot]

add 02 10
  src/day/2020/02/06.md
  src/day/2020/02/10.md
Owners: @shunkakinoki, @github-actions[bot]

add 02 10
  src/day/2020/02/10.md
Owners: @shunkakinoki, @github-actions[bot]

add week strategy
  src/quarter/2020/01.md
  src/strategy/2020/06.md
Owners: @shunkakinoki, @github-actions[bot]

add 02 10
  src/day/2020/02/10.md
Owners: @shunkakinoki, @github-actions[bot]

add steve jobs quote
  src/day/2020/02/10.md
  src/week/2020/06.md
  src/week/2020/07.md
Owners: @shunkakinoki, @github-actions[bot]

fin 02 10
  src/day/2020/02/10.md
  wiki/streaks/bad/nap.md
Owners: @shunkakinoki, @github-actions[bot]

init 02 11
  .vscode/settings.json
  src/day/2020/02/11.md
Owners: @shunkakinoki, @github-actions[bot]

finish streak wiki
  .vscode/settings.json
  old/ai.md
  old/coding.md
  old/mindset.md
  psycho/imperfection.md
  psycho/init.md
  wiki/Home.md
  wiki/outline/202000.md
  wiki/streaks/being/meditation.md
  wiki/streaks/being/wake-up.md
  wiki/streaks/potential/core.md
  wiki/streaks/potential/output.md
  wiki/streaks/work/gratiude.md
  wiki/streaks/workflow/day.md
Owners: @shunkakinoki

fin 02 11
  src/day/2020/02/11.md
Owners: @shunkakinoki, @github-actions[bot]
