Repository nhatthanhlatao/shunkakinoki, changes with the owners that .github/CODEOWNERS names for each.
All owners: @shunkakinoki, @dependabot[bot], @dependabot-preview[bot], @github-actions[bot]

init 02 12
  src/day/2020/02/12.md
  wiki/promise/calendar.md
  wiki/workflow/promise.md
Owners: @shunkakinoki, @github-actions[bot]

init 02 12 v2'
  src/day/2020/02/12.md
Owners: @shunkakinoki, @github-actions[bot]

init-power-nap
  wiki/promise/nap.md
Owners: @shunkakinoki

run workout init
  wiki/promise/run-workout.md
Owners: @shunkakinoki

add 02 12
  src/day/2020/02/12.md
  wiki/promise/complacency.md
  wiki/promise/sleepiness.md
Owners: @shunkakinoki, @github-actions[bot]

fin 02 12
  src/day/2020/02/12.md
Owners: @shunkakinoki, @github-actions[bot]

init 02 13
  src/day/2020/02/13.md
Owners: @shunkakinoki, @github-actions[bot]

promise
  wiki/promise/complacency.md
  wiki/promise/sleepiness.md
  wiki/promise/smartphone.md
Owners: @shunkakinoki

fin
  src/day/2020/02/13.md
  wiki/promise/spare-time.md
Owners: @shunkakinoki, @github-actions[bot]

add style rb
  style.rb
Owners: @shunkakinoki

ini 02 14
  src/day/2020/02/14.md
  wiki/promise/run-workout.md
  wiki/streaks/work/work-out.md
Owners: @shunkakinoki, @github-actions[bot]

add temp readme
  README.md
Owners: @shunkakinoki

delete all category
  blog/life-mission.md
  old/ai.md
  old/coding.md
  old/mindset.md
Owners: @shunkakinoki

add 02 14
  src/day/2020/02/14.md
Owners: @shunkakinoki, @github-actions[bot]

add 02 15
  src/day/2020/02/15.md
Owners: @shunkakinoki, @github-actions[bot]

add
  .github/workflows/auto-approve.yml
  .github/workflows/markdown.yml
  .github/workflows/release.yml
  src/day/2020/02/15.md
Owners: @shunkakinoki, @dependabot[bot], @dependabot-preview[bot], @github-actions[bot]

add
  .github/workflows/markdown.yml
Owners: @shunkakinoki, @dependabot[bot], @dependabot-preview[bot]

add version
  .github/workflows/auto-approve.yml
Owners: @shunkakinoki, @dependabot[bot], @dependabot-preview[bot]

fix
  .github/workflows/markdown.yml
  .github/workflows/release.yml
Owners: @shunkakinoki, @dependabot[bot], @dependabot-preview[bot]

fix
  .github/workflows/markdown.yml
  node_modules/.yarn-integrity
  package.json
  yarn.lock
Owners: @shunkakinoki, @dependabot[bot], @dependabot-preview[bot]

fix
  .github/workflows/markdown.yml
Owners: @shunkakinoki, @dependabot[bot], @dependabot-preview[bot]

Delete release.yml
  .github/workflows/release.yml
Owners: @shunkakinoki, @dependabot[bot], @dependabot-preview[bot]

Delete package.json
  package.json
Owners: @shunkakinoki

fin
  src/day/2020/02/15.md
Owners: @shunkakinoki, @github-actions[bot]

add tag
  src/day/2020/02/15.md
Owners: @shunkakinoki, @github-actions[bot]

ini
  src/day/2020/02/16.md
Owners: @shunkakinoki, @github-actions[bot]

add strategy report
  node_modules/.yarn-integrity
  src/week/2020/07.md
Owners: @shunkakinoki, @github-actions[bot]

add strategy report
  src/strategy/2020/07.md
Owners: @shunkakinoki, @github-actions[bot]

add strategy report
  src/strategy/2020/07.md
  src/week/2020/07.md
Owners: @shunkakinoki, @github-actions[bot]

fin
  src/day/2020/02/16.md
Owners: @shunkakinoki, @github-actions[bot]

fin
  .vscode/settings.json
  src/strategy/2020/07.md
Owners: @shunkakinoki, @github-actions[bot]

add
  src/day/2020/02/17.md
  src/week/2020/07.md
  src/week/2020/08.md
Owners: @shunkakinoki, @github-actions[bot]

add
  .vscode/settings.json
  src/day/2020/02/17.md
Owners: @shunkakinoki, @github-actions[bot]

add
  src/day/2020/02/18.md
Owners: @shunkakinoki, @github-actions[bot]

add prooper command
  src/day/2020/02/18.md
Owners: @shunkakinoki, @github-actions[bot]

add
  src/day/2020/02/18.md
Owners: @shunkakinoki, @github-actions[bot]

add
  src/day/2020/02/18.md
Owners: @shunkakinoki, @github-actions[bot]

add
  src/day/2020/02/18.md
Owners: @shunkakinoki, @github-actions[bot]

add
  .github/workflows/release.yml
  .github/workflows/yarn.yml
  .gitignore
  .releaserc.json
  package.json
  yarn.lock
Owners: @shunkakinoki, @dependabot[bot], @dependabot-preview[bot]

add
  .dependabot/config.yml
Owners: @shunkakinoki

.github/CODEOWNERS:

* @shunkakinoki

/.github/workflows/ @shunkakinoki @dependabot[bot] @dependabot-preview[bot]
Gemfile @shunkakinoki @dependabot[bot] @dependabot-preview[bot]
Gemfile.lock @shunkakinoki @dependabot[bot] @dependabot-preview[bot]

/src/ @shunkakinoki @github-actions[bot]
