Repository nhatthanhlatao/shunkakinoki, changes with the owners that .github/CODEOWNERS names for each.
All owners: @shunkakinoki, @dependabot[bot], @dependabot-preview[bot], @github-actions[bot]

.github/CODEOWNERS:

* @shunkakinoki

/.github/workflows/ @shunkakinoki @dependabot[bot] @dependabot-preview[bot]
Gemfile @shunkakinoki @dependabot[bot] @dependabot-preview[bot]
Gemfile.lock @shunkakinoki @dependabot[bot] @dependabot-preview[bot]

/src/ @shunkakinoki @github-actions[bot]

added 1029
  src/day/2019/10/29.md
Owners: @shunkakinoki, @github-actions[bot]

added default homepage
  src/README.md
Owners: @shunkakinoki, @github-actions[bot]

excluded rule 32
  .vscode/settings.json
  style.rb
Owners: @shunkakinoki

added outline setting with 2019
  .vscode/settings.json
  wiki/outline/2019.md
  wiki/outline/201910.md
Owners: @shunkakinoki

Update markdown.yml
  .github/workflows/markdown.yml
Owners: @shunkakinoki, @dependabot[bot], @dependabot-preview[bot]

Update .mergify.yml
  .mergify.yml
Owners: @shunkakinoki

added correct markdown label
  .github/workflows/markdown.yml
  .mergify.yml
Owners: @shunkakinoki, @dependabot[bot], @dependabot-preview[bot]

added 1029
  src/day/2019/10/29.md
Owners: @shunkakinoki, @github-actions[bot]

added 1029
  src/day/2019/10/29.md
Owners: @shunkakinoki, @github-actions[bot]

Update 29.md
  src/day/2019/10/29.md
Owners: @shunkakinoki, @github-actions[bot]

finished 1029
  src/day/2019/10/29.md
Owners: @shunkakinoki, @github-actions[bot]

init routine
  src/day/2019/10/30.md
  wiki/habitbook/bad/before-sleep.md
  wiki/habitbook/being/endeavor.md
  wiki/habitbook/being/wake-up.md
  wiki/habitbook/being/work-out.md
  wiki/habitbook/potential/ai.md
  wiki/habitbook/potential/coding.md
  wiki/habitbook/potential/life-mission.md
  wiki/habitbook/work/abstraction.md
  wiki/habitbook/work/book.md
  wiki/habitbook/work/chinese.md
  wiki/habitbook/workflow/day.md
Owners: @shunkakinoki, @github-actions[bot]

added 1030
  .vscode/settings.json
  src/day/2019/10/30.md
  wiki/habitbook/bad/before-sleep.md
  wiki/habitbook/work/chinese.md
  wiki/habitbook/workflow/day.md
Owners: @shunkakinoki, @github-actions[bot]

init 1104
  .vscode/settings.json
  src/day/2019/10/28.md
  src/day/2019/10/29.md
  src/day/2019/10/30.md
  src/day/2019/11/04.md
  src/month/2019/10.md
  src/month/2019/11.md
  src/week/2019/44.md
  wiki/outline/2019.md
  wiki/outline/201911.md
Owners: @shunkakinoki, @github-actions[bot]

init 1104-v2
  .vscode/settings.json
  src/week/2019/45.md
  wiki/habitbook/potential/coding.md
Owners: @shunkakinoki, @github-actions[bot]

added labels
  wiki/philosophy/labels.md
Owners: @shunkakinoki

fin 1104
  src/day/2019/11/04.md
Owners: @shunkakinoki, @github-actions[bot]

added cache to markdown gha
  .github/workflows/markdown.yml
Owners: @shunkakinoki, @dependabot[bot], @dependabot-preview[bot]

added 1105 env
  src/day/2019/11/05.md
Owners: @shunkakinoki, @github-actions[bot]

added gha markdown bundler deployment
  .github/workflows/markdown.yml
Owners: @shunkakinoki, @dependabot[bot], @dependabot-preview[bot]

deleted calendar for 1105
  src/day/2019/11/05.md
Owners: @shunkakinoki, @github-actions[bot]

comp 1105
  .github/workflows/markdown.yml
  src/day/2019/11/05.md
Owners: @shunkakinoki, @dependabot[bot], @dependabot-preview[bot], @github-actions[bot]

change cache to preview cache
  .github/workflows/markdown.yml
Owners: @shunkakinoki, @dependabot[bot], @dependabot-preview[bot]

added zenhub config
  src/day/2019/11/05.md
Owners: @shunkakinoki, @github-actions[bot]

Update markdown.yml
  .github/workflows/markdown.yml
Owners: @shunkakinoki, @dependabot[bot], @dependabot-preview[bot]

Update markdown.yml
  .github/workflows/markdown.yml
Owners: @shunkakinoki, @dependabot[bot], @dependabot-preview[bot]

Update .mergify.yml
  .mergify.yml
Owners: @shunkakinoki

Delete 04.md
  src/day/2019/11/04.md
Owners: @shunkakinoki, @github-actions[bot]

Update .mergify.yml
  .mergify.yml
Owners: @shunkakinoki

init shunkakinoki img
  .vscode/settings.json
  README.md
  assets/shunkakinoki.png
Owners: @shunkakinoki

Rename .mergify.yml to .mergify/config.yml
  .mergify/config.yml
Owners: @shunkakinoki

Create config.yml
  .dependabot/config.yml
Owners: @shunkakinoki

Update config.yml
  .dependabot/config.yml
Owners: @shunkakinoki

Update markdown.yml
  .github/workflows/markdown.yml
Owners: @shunkakinoki, @dependabot[bot], @dependabot-preview[bot]

Rename LICENSE to LICENSE.md
  LICENSE.md
Owners: @shunkakinoki

added 11-18 with editorconfig :grinning_face:
  .editorconfig
  src/day/2019/11/18.md
  src/week/2019/45.md
  style.rb
Owners: @shunkakinoki, @github-actions[bot]

removed auto assign
  .github/workflows/pull_request.yml
Owners: @shunkakinoki, @dependabot[bot], @dependabot-preview[bot]

renamed week to correct :star:
  src/week/2019/47.md
Owners: @shunkakinoki, @github-actions[bot]

add proper markdown cache :grinning_face:
  .github/workflows/markdown.yml
Owners: @shunkakinoki, @dependabot[bot], @dependabot-preview[bot]

remove cache
  .github/workflows/markdown.yml
Owners: @shunkakinoki, @dependabot[bot], @dependabot-preview[bot]
